h3{
    text-align: center;
}

table{
    text-align: center;
    border-collapse: collapse;
    width: 70%;
    margin: 15px auto;
}


table th{
    background-color: rgb(114, 141, 186);
    padding: 10px;
    border: 1px solid rgb(56, 64, 104);
    width: 200px;
    color: black;
}

table td{
    padding: 5px;
    border: 1px solid rgb(56, 64, 104);
}

table tr:nth-child(even){
    background-color: rgb(238, 240, 245);
}

table tr:nth-child(odd){
    background-color: rgb(186, 201, 227);
}

table tr:hover{
    background-color: rgb(94, 119, 161);
    color: rgb(211, 222, 233);
}