nav, .applyForm, #chosenCompanies a, .welcome, .apply{
    display: none;
}

header, footer{
    margin: 0 auto;
    text-align: center;
}

header img{
    width: 50%;
    height: auto;
}

#chosenCompanies>h2, #chosenCompanies>h3, #chosenCompanies>table{
    margin: 10px;
}

#chosenCompanies>table{
    border-collapse: collapse;
    border: 1px solid black;
}

#chosenCompanies>table th{
    text-align: center;
    border: 1px solid black;
}

#chosenCompanies>table td{
    border: 1px solid black;
    text-align: left;
    padding: 5px 7px;
    width: 25%;
}