#visitWelcome li{
    padding-left: 40px;
    list-style-position: inside;
    list-style-type: circle;
}

#visitWelcome{
    clear: both;
    border: 2px solid rgb(65, 95, 128);
    border-radius: 10px;
    line-height: 25px;
    text-align: left;                
    width: fit-content;
    margin: 20px auto;
    padding: 1% 22%;
}

#visitWelcome:hover{
    box-shadow: 5px 5px 5px rgb(65, 95, 128);
}


#visitBlock{
    width: 80%;
    height: 300px;
    margin: 10px auto;

}

#visitBlock img{
    float: left;
    display: block;
    width: 50%;
    height: 100%;
    border-radius: 10px;
    margin: auto;
    margin-right: 2%;
}

#visitBlock #infoText{
    overflow: auto;
    display: block;
    float:left;
    width: 38%;
    height: 75%;
    padding: 0 5%;
    text-align: left;
    margin-left: 1%;
    margin: auto;
    margin-top: 10%;    
}

#registration{
    clear: both;
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
}

#registration h2{
    text-align: center;
}

#registration fieldset{
    padding: 10px
}

#registration legend{
    font-size: large;
    font-weight: 700;
}

#registration #errormessage{
    text-align: center;
    color: red;
}
